@import "src/styles.scss";

.todoform {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family:$fontmain;
    text-align: start;
    color: $decoratecolor2;
}
