@import "src/styles.scss";

.button {
  border: 0px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(138, 210, 255) 14%,
    rgb(232, 132, 252)
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(138, 210, 255) 14%,
    rgb(232, 132, 252)
  );
  background: linear-gradient(
    45deg,
    rgb(138, 210, 255) 14%,
    rgb(232, 132, 252)
  );
  opacity: 0, 9;
  height: 40px;
  cursor: pointer;

  color: white;
  padding: 5px;
  font-family: $fontmain;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;

  &:hover {
    border: 1px solid $borderandtextcolor;
  }
  &:active {
    background-color: rgb(251, 229, 255);
    box-shadow: 2px 2px $decoratecolor1;
    transform: translateY(1px);
  }
  &__filter {
    background: -webkit-linear-gradient(
      45deg,
      rgb(138, 210, 255) 14%,
      rgb(232, 132, 252)
    );
    background: -moz-linear-gradient(
      45deg,
      rgb(138, 210, 255) 14%,
      rgb(232, 132, 252)
    );
    background: linear-gradient(
      45deg,
      rgb(138, 210, 255) 14%,
      rgb(232, 132, 252)
    );

    opacity: 0, 9;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
  }
  &__delete {
    background: url(../Icons/delete.png) 50% 50% no-repeat;
    background-size: contain;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    border: 0px;
    margin-left: 5px;
  }
  &__done {
    background: url(../Icons/done.png) 50% 50% no-repeat;
    background-size: contain;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    border: 0px;
  }
}
