@import "src/styles.scss";

.todolist {
    border:0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $fontmain;
    font-size: 14px;
    font-weight: 600px;
    color: $borderandtextcolor;
}
.img {
  background: url(../Icons/filter.png) 50% 50% no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.item {
    display:block;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    bottom: 5px;
  }
  
  .strike {
    display:block;
    width:600px;
    text-decoration: line-through;
  }
  .item-text {
    display: block;
    width:600px;
    cursor: pointer;
  }

  .buttondiv {
    display:block;
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    .item-text{  
      width: 265px;
    }
  }
  