@import "./styles.scss";

.App {
  text-align: center;
  font-family: $fontmain;
  letter-spacing: 0.4pt;
  word-spacing: 3.8pt;

  h1 {
    font-size: 40px;
    color: $borderandtextcolor;
    text-shadow: 1px 1px 13px $decoratecolor1;
    -webkit-text-shadow: 1px 1px 13px $decoratecolor1;
    -moz-text-shadow: 1px 1px 13px $decoratecolor1;
  }
}
